package pages

import "datastar-go/features/common/layouts"

templ LoginPage() {
	@layouts.BaseLayout("Login") {
		<h1>Login</h1>
		<form data-on:submit="@post('/auth/login', {contentType: 'form'})">
			<div>
				<label>Email</label>
				<input type="email" name="email"/>
			</div>
			<div>
				<label>Password</label>
				<input type="password" name="password" placeholder="********"/>
			</div>
			<button type="submit">Login</button>
		</form>
	}
}
