package pages

import "datastar-go/features/common/layouts"
import "fmt"

templ Counter(count int) {
	<div id="counter">{ fmt.Sprintf("Count: %d", count) }</div>
}

templ NATSPing(message string) {
	<p id="nats-ping">NATS ping: { message }</p>
}

templ JobsCount(count uint64) {
	<p id="jobs-count">{ fmt.Sprintf("JetStream jobs published: %d", count) }</p>
}

templ IndexPage(count int, dbTime string, natsPing string, jobsCount uint64) {
	@layouts.BaseLayout("Datastar Demo") {
		@Counter(count)
		<button data-on:click="@get('/increment')">Increment</button>
		<p>DB time: { dbTime }</p>
		@NATSPing(natsPing)
		@JobsCount(jobsCount)
		<button data-on:click="@get('/nats/ping')">Ping NATS</button>
		<button data-on:click="@post('/jobs/demo')">Publish Job</button>
	}
}
