package pages

import "datastar-go/web/resources"
import "fmt"

templ Counter(count int) {
	<div id="counter">{ fmt.Sprintf("Count: %d", count) }</div>
}

templ NatsPing(message string) {
	<p id="nats-ping">NATS ping: { message }</p>
}

templ JobsCount(count uint64) {
	<p id="jobs-count">{ fmt.Sprintf("JetStream jobs published: %d", count) }</p>
}

templ IndexPage(count int, dbTime string, natsPing string, jobsCount uint64) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>Datastar Demo</title>
			<script type="module" src={ resources.StaticPath("datastar/datastar.js") }></script>
		</head>
		<body>
			@Counter(count)
			<button data-on:click="@get('/increment')">Increment</button>
			<p>DB time: { dbTime }</p>
			@NatsPing(natsPing)
			@JobsCount(jobsCount)
			<button data-on:click="@get('/nats/ping')">Ping Nats</button>
			<button data-on:click="@post('/jobs/demo')">Publish Job</button>
		</body>
	</html>
}
